body {
    background-color: #1f1f1f; 
    margin: 0;
    padding: 0;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color:#ffffff; /* font color */
}

.canvas-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
}

#gl-canvas {
    display: block;
}

.controls-container {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow-y: auto;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .8rem;
}

.info ul {
  margin-top: 0;
}



/* ---------------- Buttons ------------------- */
.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.button:hover {
  background-color: #f1f1f1;
}

.reset-button-container {
  display: flex;
  justify-content: center;
}


/* ---------------- Inputs ------------------- */
.transform-grid {
    display: flex;
    gap: 5px; /*  space between the cells */
}

.centered_p {
  text-align: center;
  font-size: 1.25rem;
}


.label_and_input {
    display: flex;
    gap: 5px; /*  space between the cells */
}
