body {
    background-color: #1f1f1f; 
    margin: 0;
    padding: 0;
    display: flex;
}

.canvas-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
}

.controls-container {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
}

#gl-canvas {
    display: block;
    border: 2px solid #444;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info li {
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
}

.reset-info-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}


.slider-column {
    display: flex;
    flex-direction: column;
}
.slider-group {
    margin-bottom: 5px;
}

.slider-group .sliderParagraph {
    margin-bottom: 5px;
}

.slider-group .slidecontainer {
    margin-bottom: 0;
}




/* ---------------- Sliders ------------------- */
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.sliderParagraph {
  font-family: Arial, Helvetica, sans-serif;
  color:#ffffff;
}


/* ---------------- Buttons ------------------- */
.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

.button:hover {
  background-color: #f1f1f1;
}